<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Digital Comerce Prospecão de Clientes</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="icon" type="image/png" href="icon_38.png">
<link rel="stylesheet" href="./styleapp.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="video-bg">
 <video width="320" height="240" autoplay loop muted>
  <source src="bishop-94180.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<!-- dark-light-->
<div class="dark-light">
    <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
     <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" /></svg>
   </div>
<div class="app">
 <div class="header">
  <div class="menu-circle"><img src="totvs-logob.png" width="50%"> </div>

  <div class="search-bar">
   <input id="busca" type="text" placeholder="Informe o endereço do e-commerce do prospect">
  </div>
  <!--div class="header-profile">
   <div class="notification">
    <span class="notification-number">3</span>
    <svg viewBox="0 0 48 48" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
     <path d="M18 8A6 6 0 006 8c0 7-3 9-3 9h18s-3-2-3-9M13.73 21a2 2 0 01-3.46 0" />
    </svg>
   </div>
   <svg viewBox="0 0 512 512" fill="currentColor" onclick="Javascript:document.location='./calc'">
    <g>
      <path d="M399.5,0h-288C89.72,0,72,17.72,72,39.5v432c0,21.78,17.72,39.5,39.5,39.5h288c21.78,0,39.5-17.72,39.5-39.5v-432   C439,17.72,421.28,0,399.5,0z M424,471.5c0,13.509-10.991,24.5-24.5,24.5h-288C97.991,496,87,485.009,87,471.5v-432   C87,25.991,97.991,15,111.5,15h288c13.509,0,24.5,10.991,24.5,24.5V471.5z"/>
      <path d="m373.5,64h-236c-5.238,0-9.5,4.262-9.5,9.5v76c0,5.238 4.262,9.5 9.5,9.5h236c5.238,0 9.5-4.262 9.5-9.5v-76c0-5.238-4.262-9.5-9.5-9.5zm-5.5,80h-225v-65h225v65z"/>
      <path d="m373.5,192h-236c-5.238,0-9.5,4.262-9.5,9.5v236c0,5.238 4.262,9.5 9.5,9.5h236c5.238,0 9.5-4.262 9.5-9.5v-236c0-5.238-4.262-9.5-9.5-9.5zm-150.5,160v-65h65v65h-65zm65,15v65h-65v-65h65zm-145-80h65v65h-65v-65zm80-15v-65h65v65h-65zm80,15h65v65h-65v-65zm65-15h-65v-65h65v65zm-160-65v65h-65v-65h65zm-65,160h65v65h-65v-65zm160,65v-65h65v65h-65z"/>
      <path d="m279.5,127c4.142,0 7.5-3.358 7.5-7.5v-16c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v16c0,4.142 3.358,7.5 7.5,7.5z"/>
      <path d="m311.5,127c4.142,0 7.5-3.358 7.5-7.5v-16c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v16c0,4.142 3.358,7.5 7.5,7.5z"/>
      <path d="m343.5,127c4.142,0 7.5-3.358 7.5-7.5v-16c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v16c0,4.142 3.358,7.5 7.5,7.5z"/>
    </g>
   </svg>
   <img class="profile-img" src="https://images.unsplash.com/photo-1600353068440-6361ef3a86e8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
  </div -->
 </div>
 <div class="wrapper" id="Inicial">
   <table  width="100%" height="100%">
      <tr>
         <td align="center">
            <h3 class="menu-link-main">Informe o endereço ecommerce do prospect a ser avaliado no campo de busca acima e pressione enter para prospectar</h3>
         </td>
      </tr>

   </table>
 </div>
 <div class="preloader" id="Carregando" style="display: none">
	<svg class="cart" role="img" aria-label="Shopping cart line animation" viewBox="0 0 128 128" width="128px" height="128px" xmlns="http://www.w3.org/2000/svg">
		<g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="8">
			<g class="cart__track" stroke="hsla(0,10%,10%,0.1)">
				<polyline points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80" />
				<circle cx="43" cy="111" r="13" />
				<circle cx="102" cy="111" r="13" />
			</g>
			<g class="cart__lines" stroke="currentColor">
				<polyline class="cart__top" points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80" stroke-dasharray="338 338" stroke-dashoffset="-338" />
				<g class="cart__wheel1" transform="rotate(-90,43,111)">
					<circle class="cart__wheel-stroke" cx="43" cy="111" r="13" stroke-dasharray="81.68 81.68" stroke-dashoffset="81.68" />
				</g>
				<g class="cart__wheel2" transform="rotate(90,102,111)">
					<circle class="cart__wheel-stroke" cx="102" cy="111" r="13" stroke-dasharray="81.68 81.68" stroke-dashoffset="81.68" />
				</g>
			</g>
		</g>
	</svg>
	<div class="preloader__text">
		<p class="preloader__msg">Levatando informações sobre o prospect</p>
		<p class="preloader__msg preloader__msg--last">Preparando para retornar os resultados </p>
	</div>
</div>
  
 <div class="wrapper" id="Resultados" style="display: none">
  <div class="left-side">
   <div class="side-wrapper">
    <div class="side-title">Infos</div>
    <div class="side-menu">
     <a href="#">
      <svg viewBox="0 0 512 512">
       <g xmlns="http://www.w3.org/2000/svg" fill="currentColor">
        <path d="M0 0h128v128H0zm0 0M192 0h128v128H192zm0 0M384 0h128v128H384zm0 0M0 192h128v128H0zm0 0" data-original="#bfc9d1" />
       </g>
       <path xmlns="http://www.w3.org/2000/svg" d="M192 192h128v128H192zm0 0" fill="currentColor" data-original="#82b1ff" />
       <path xmlns="http://www.w3.org/2000/svg" d="M384 192h128v128H384zm0 0M0 384h128v128H0zm0 0M192 384h128v128H192zm0 0M384 384h128v128H384zm0 0" fill="currentColor" data-original="#bfc9d1" />
      </svg>
      Ofertas  <span id="contaofer" class="notification-number updates">?</span>
     </a>
     <a href="Javascript:mostraTecnologias()">
      <svg viewBox="0 0 488.932 488.932" fill="currentColor">
       <path d="M243.158 61.361v-57.6c0-3.2 4-4.9 6.7-2.9l118.4 87c2 1.5 2 4.4 0 5.9l-118.4 87c-2.7 2-6.7.2-6.7-2.9v-57.5c-87.8 1.4-158.1 76-152.1 165.4 5.1 76.8 67.7 139.1 144.5 144 81.4 5.2 150.6-53 163-129.9 2.3-14.3 14.7-24.7 29.2-24.7 17.9 0 31.8 15.9 29 33.5-17.4 109.7-118.5 192-235.7 178.9-98-11-176.7-89.4-187.8-187.4-14.7-128.2 84.9-237.4 209.9-238.8z" />
      </svg>
      Tecnologias
      <span id="contatech" class="notification-number updates">0</span>
     </a>
    </div>
   </div>
   <div class="side-wrapper">
    <div class="side-title">Componentes do Site</div>
    <div class="side-menu">
  
      <a href="Javascript:mostraTecnologiasEcommerce()">
      <svg viewBox="0 0 512 512" fill="currentColor">
       <circle cx="295.099" cy="327.254" r="110.96" transform="rotate(-45 295.062 327.332)" />
       <path d="M471.854 338.281V163.146H296.72v41.169a123.1 123.1 0 01121.339 122.939c0 3.717-.176 7.393-.5 11.027zM172.14 327.254a123.16 123.16 0 01100.59-120.915L195.082 73.786 40.146 338.281H172.64c-.325-3.634-.5-7.31-.5-11.027z" />
      </svg>
      Ecommerce
     </a>
   
     <!--a href="#">
      <svg viewBox="0 0 512 512" fill="currentColor">
       <path d="M499.377 46.402c-8.014-8.006-18.662-12.485-29.985-12.613a41.13 41.13 0 00-.496-.003c-11.142 0-21.698 4.229-29.771 11.945L198.872 275.458c25.716 6.555 47.683 23.057 62.044 47.196a113.544 113.544 0 0110.453 23.179L500.06 106.661C507.759 98.604 512 88.031 512 76.89c0-11.507-4.478-22.33-12.623-30.488zM176.588 302.344a86.035 86.035 0 00-3.626-.076c-20.273 0-40.381 7.05-56.784 18.851-19.772 14.225-27.656 34.656-42.174 53.27C55.8 397.728 27.795 409.14 0 416.923c16.187 42.781 76.32 60.297 115.752 61.24 1.416.034 2.839.051 4.273.051 44.646 0 97.233-16.594 118.755-60.522 23.628-48.224-5.496-112.975-62.192-115.348z" />
      </svg>
      Inteligência
     </a -->
     <a href="Javascript:mostraTecnologiasMarketing()">
      <svg viewBox="0 0 512 512" fill="currentColor">
       <path d="M497 151H316c-8.401 0-15 6.599-15 15v300c0 8.401 6.599 15 15 15h181c8.401 0 15-6.599 15-15V166c0-8.401-6.599-15-15-15zm-76 270h-30c-8.401 0-15-6.599-15-15s6.599-15 15-15h30c8.401 0 15 6.599 15 15s-6.599 15-15 15zm0-180h-30c-8.401 0-15-6.599-15-15s6.599-15 15-15h30c8.401 0 15 6.599 15 15s-6.599 15-15 15z" />
       <path d="M15 331h196v60h-75c-8.291 0-15 6.709-15 15s6.709 15 15 15h135v-30h-30v-60h30V166c0-24.814 20.186-45 45-45h135V46c0-8.284-6.716-15-15-15H15C6.716 31 0 37.716 0 46v270c0 8.284 6.716 15 15 15z" />
      </svg>
      Marketing
     </a>
     <!--a href="#">
      <svg viewBox="0 0 512 512" fill="currentColor">
       <path d="M0 331v112.295a14.996 14.996 0 007.559 13.023L106 512V391L0 331zM136 391v121l105-60V331zM271 331v121l105 60V391zM406 391v121l98.441-55.682A14.995 14.995 0 00512 443.296V331l-106 60zM391 241l-115.754 57.876L391 365.026l116.754-66.15zM262.709 1.583a15.006 15.006 0 00-13.418 0L140.246 57.876 256 124.026l115.754-66.151L262.709 1.583zM136 90v124.955l105 52.5V150zM121 241L4.246 298.876 121 365.026l115.754-66.15zM271 150v117.455l105-52.5V90z"></path>
      </svg>
      Conversacional
     </a-->
    
    </div>
   </div>

   <div class="side-wrapper">
    <div class="side-title">Links Úteis</div>
    <div class="side-menu">
     <a href="https://calendly.com/d/yr3-q8d-2nk" target="_blank">
      <svg viewBox="0 0 512 512" fill="currentColor">
       <path d="M467 0H45C20.186 0 0 20.186 0 45v422c0 24.814 20.186 45 45 45h422c24.814 0 45-20.186 45-45V45c0-24.814-20.186-45-45-45zM181 241c41.353 0 75 33.647 75 75s-33.647 75-75 75-75-33.647-75-75c0-8.291 6.709-15 15-15s15 6.709 15 15c0 24.814 20.186 45 45 45s45-20.186 45-45-20.186-45-45-45c-41.353 0-75-33.647-75-75s33.647-75 75-75 75 33.647 75 75c0 8.291-6.709 15-15 15s-15-6.709-15-15c0-24.814-20.186-45-45-45s-45 20.186-45 45 20.186 45 45 45zm180 120h30c8.291 0 15 6.709 15 15s-6.709 15-15 15h-30c-24.814 0-45-20.186-45-45V211h-15c-8.291 0-15-6.709-15-15s6.709-15 15-15h15v-45c0-8.291 6.709-15 15-15s15 6.709 15 15v45h45c8.291 0 15 6.709 15 15s-6.709 15-15 15h-45v135c0 8.276 6.724 15 15 15z" />
      </svg>
      Demonstração
     </a>
     <a href="https://universidadetotvs.com.br" target="_blank">
      <svg viewBox="0 0 511.441 511.441" fill="currentColor">
       <path d="M255.721 347.484L90.22 266.751v106.57l165.51 73.503 165.509-73.503V266.742z" />
       <path d="M511.441 189.361L255.721 64.617 0 189.361l255.721 124.744 195.522-95.378v111.032h30V204.092z" />
      </svg>
      Treinamentos
     </a>
     <a href="https://docs.google.com/document/d/1PnfcQ5tgANcGca4pGO5B6gSg4CHeHjAI/edit?hl=pt_BR#heading=h.gjdgxs" target="_blank">
      <svg viewBox="0 0 512 512" fill="currentColor">
       <path d="M196 151h-75v90h75c24.814 0 45-20.186 45-45s-20.186-45-45-45z" />
       <path d="M467 0H45C20.186 0 0 20.186 0 45v422c0 24.814 20.186 45 45 45h422c24.814 0 45-20.186 45-45V45c0-24.814-20.186-45-45-45zM196 271h-75v105c0 8.291-6.709 15-15 15s-15-6.709-15-15V136c0-8.291 6.709-15 15-15h90c41.353 0 75 33.647 75 75s-33.647 75-75 75zm210-60c8.291 0 15 6.709 15 15s-6.709 15-15 15h-45v135c0 8.291-6.709 15-15 15s-15-6.709-15-15V241h-15c-8.291 0-15-6.709-15-15s6.709-15 15-15h15v-45c0-24.814 20.186-45 45-45h30c8.291 0 15 6.709 15 15s-6.709 15-15 15h-30c-8.276 0-15 6.724-15 15v45h45z" />
      </svg>
      FAQ Shopify
     </a>
     <a href="https://api.whatsapp.com/send/?phone=5562998333146" target="_blank">
      <svg viewBox="0 0 512 512" fill="currentColor">
       <path d="M181 181h-60v60h60c16.54 0 30-13.46 30-30s-13.46-30-30-30zm0 0M181 271h-60v60h60c16.54 0 30-13.46 30-30s-13.46-30-30-30zm0 0M346 241c-19.555 0-36.238 12.54-42.438 30h84.875c-6.199-17.46-22.882-30-42.437-30zm0 0" />
       <path d="M436 0H75C33.648 0 0 33.648 0 75v362c0 41.352 33.648 75 75 75h361c41.352 0 76-33.648 76-75V75c0-41.352-34.648-75-76-75zM286 151h120v30H286zm-45 150c0 33.09-26.91 60-60 60H91V151h90c33.09 0 60 26.91 60 60 0 18.008-8.133 33.996-20.73 45 12.597 11.004 20.73 26.992 20.73 45zm180 0H303.562c6.196 17.46 22.883 30 42.438 30 16.012 0 30.953-8.629 38.992-22.516l25.957 15.032C397.58 346.629 372.687 361 346 361c-41.352 0-75-33.648-75-75s33.648-75 75-75 75 33.648 75 75zm0 0" />
      </svg>
      Contato
     </a>
     
    </div>
   </div>
  </div>
  <div class="main-container">
   <div class="main-header">
    <a class="menu-link-main" href="#">Informações:</a>
    <div class="header-menu">
     <a class="main-header-link" id="linkgov" href="#">Governamentais</a>
     <a class="main-header-link" href="#">Tráfego</a>
	  <a class="main-header-link" href="#">TOTVS</a>
    <a class="main-header-link is-active" href="#">Ofertas  </a>
    <!--a class="main-header-link" href="#">Calculadora</a-->
    
    </div>
   </div>
   <div class="content-wrapper" id="Ofertas" style="display: none;" >
    <div class="content-wrapper-header">
     <div class="content-wrapper-context">
      <h3 class="img-content">
            <div id="titulopagina"> Página</div>
      </h3>
      <div class="content-text" id="resultado">Resultado:  &nbsp  </div>
     
      <div class="content-text" id="NumeroTecnologias"> Tecnologias Encontradas: </div>
      <div class="content-text" id="ecommerce"> Ecommerce: </div>
      
     </div>
     <img class="content-wrapper-img" src="https://assets.codepen.io/3364143/glass.png" alt="">
    </div>

    <div class="content-section" id="totvsdetectados">
      <div class="content-section-title">Produtos TOTVS Dectectados</div>
      <ul>
       <li class="adobe-product" id="detectRD" style="display: none;">
        <div class="products">
         <img viewBox="0 0 52 52"  src="RDStation.png" width="30%">
          
         &nbsp RD Station
        </div>
        <span class="status">
         <span class="status-circle green"></span>
         Dectectado no site</span>
        <div class="button-wrapper">
         <button class="content-button status-button open">Em uso</button>
         <div class="menu">
          <button class="dropdown">
           <ul>
            <li><a href="#">Go to Discover</a></li>
            <li><a href="#">Learn more</a></li>
            <li><a href="#">Uninstall</a></li>
           </ul>
          </button>
         </div>
        </div>
       </li>
       <li class="adobe-product" id="detectShopify" style="display: none;">
        <div class="products">
          <img src="Shopify.svg" viewBox="0 0 52 52"  width="30%">
          &nbsp Shopify
        </div>
        <span class="status">
         <span class="status-circle green"></span>
         Detectado no Site</span>
        <div class="button-wrapper">
         <button class="content-button status-button open">Em Uso</button>
         <div class="menu">
          <button class="dropdown">
           <ul>
            <li><a href="#">Go to Discover</a></li>
            <li><a href="#">Learn more</a></li>
            <li><a href="#">Uninstall</a></li>
           </ul>
          </button>
         </div>
        </div>
       </li>
       <li class="adobe-product" id="detectVtex" style="display: none;">
        <div class="products">
          <img src="VTEX.svg" viewBox="0 0 512 512"  width="30%">
          &nbsp VTex
        </div>
        <span class="status">
         <span class="status-circle green"></span>
         Detectado no Site</span>
        <div class="button-wrapper">
         <button class="content-button status-button open">Em Uso</button>
         <div class="menu">
          <button class="dropdown">
           <ul>
            <li><a href="#">Go to Discover</a></li>
            <li><a href="#">Learn more</a></li>
            <li><a href="#">Uninstall</a></li>
           </ul>
          </button>
         </div>
        </div>
       </li>
 
       <li class="adobe-product" id="detectTail" style="display: none;">
         <div class="products">
           <img src="Tail.svg" viewBox="0 0 512 512"  width="30%">
           &nbsp Tail Digital
         </div>
         <span class="status">
          <span class="status-circle green"></span>
          Detectado no Site</span>
         <div class="button-wrapper">
          <button class="content-button status-button open">Em Uso</button>
          <div class="menu">
           <button class="dropdown">
            <ul>
             <li><a href="#">Go to Discover</a></li>
             <li><a href="#">Learn more</a></li>
             <li><a href="#">Uninstall</a></li>
            </ul>
           </button>
          </div>
         </div>
        </li>
 
 
      </ul>
     </div>
    <div class="content-section" >
      <div class="content-section-title">Soluções Indicadas</div>
      <ul>
       <li class="adobe-product" id="indicaRD">
        <div class="products">
         <img viewBox="0 0 52 52"  src="RDStation.png" width="30%">
          
         &nbsp RD Station
        </div>
 
        <span class="status">
         <span class="status-circle"></span>
         Não detectado</span>
        <div class="button-wrapper">
         <button class="content-button status-button">Por que ofertar</button>
         <div class="pop-up">
          <div class="pop-up__title">RD Station
           <svg class="close" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
            <circle cx="12" cy="12" r="10" />
            <path d="M15 9l-6 6M9 9l6 6" />
           </svg>
          </div>
          <div class="pop-up__subtitle">
            
            Teste do RD CRM!!!!! <a href="#">Aprenda Mais</a>
          </div>
          <div class="checkbox-wrapper">
           <input type="checkbox" id="check1" class="checkbox">
           <label for="check1">Considerar tail nesta oferta também</label>
          </div>
          <div class="checkbox-wrapper">
           <input type="checkbox" id="check2" class="checkbox">
           <label for="check2">Verificar a possibilidade de troca da plataforma concorrente</label>
          </div>
          <div class="content-button-wrapper">
           <button class="content-button status-button open close">Cancel</button>
           <button class="content-button status-button">Continue</button>
          </div>
         </div>
         <div class="menu">
          <button class="dropdown">
           <ul>
            <li><a href="#">Go to Discover</a></li>
            <li><a href="#">Learn more</a></li>
            <li><a href="#">Uninstall</a></li>
           </ul>
          </button>
         </div>
        </div>
       </li>
       <li class="adobe-product" id="indicaShopify">
        <div class="products"> 
         <img src="Shopify.svg" viewBox="0 0 52 52"  width="30%">
          
         &nbsp Shopify
        </div>
 
        <span class="status">
         <span class="status-circle"></span>
         Não detectado</span>
        <div class="button-wrapper">
         <button class="content-button status-button">Por que ofertar</button>
         <div class="pop-up">
          <div class="pop-up__title">Shopify
           <svg class="close" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
            <circle cx="12" cy="12" r="10" />
            <path d="M15 9l-6 6M9 9l6 6" />
           </svg>
          </div>
          <div class="pop-up__subtitle">O Ecommerce deste cliente não está devidamente estruturado para obter o máximo de performance em vendas 
               <a href="#">Learn more</a>
          </div>
          <div class="checkbox-wrapper">
           <input type="checkbox" id="check3" class="checkbox">
           <label for="check3">Considerar tail nesta oferta também</label>
          </div>
          <div class="checkbox-wrapper">
           <input type="checkbox" id="check4" class="checkbox">
           <label for="check4">Verificar a possibilidade de troca da plataforma concorrente</label>
          </div>
          <div class="content-button-wrapper">
           <button class="content-button status-button open close">Cancel</button>
           <button class="content-button status-button">Continue</button>
          </div>
         </div>
         <div class="menu">
          <button class="dropdown">
           <ul>
            <li><a href="#">Go to Discover</a></li>
            <li><a href="#">Learn more</a></li>
            <li><a href="#">Uninstall</a></li>
           </ul>
          </button>
         </div>
        </div>
       </li>

 
       <li class="adobe-product" id="indicaTail">
        <div class="products">
           <img src="Tail.svg" viewBox="0 0 512 512"  width="30%">
           &nbsp Tail Digital
         </div>
 
        <span class="status">
         <span class="status-circle"></span>
         Não detectado</span>
        <div class="button-wrapper">
         <button class="content-button status-button">Por que ofertar</button>
         <div class="pop-up">
          <div class="pop-up__title">Shopify
           <svg class="close" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
            <circle cx="12" cy="12" r="10" />
            <path d="M15 9l-6 6M9 9l6 6" />
           </svg>
          </div>
          <div class="pop-up__subtitle">O Ecommerce deste cliente não está devidamente estruturado para obter o máximo de performance em vendas <a href="#">Learn more</a></div>
          <div class="checkbox-wrapper">
           <input type="checkbox" id="check1" class="checkbox">
           <label for="check1">Considerar tail nesta oferta também</label>
          </div>
          <div class="checkbox-wrapper">
           <input type="checkbox" id="check2" class="checkbox">
           <label for="check2">Verificar a possibilidade de troca da plataforma concorrente</label>
          </div>
          <div class="content-button-wrapper">
           <button class="content-button status-button open close">Cancel</button>
           <button class="content-button status-button">Continue</button>
          </div>
         </div>
         <div class="menu">
          <button class="dropdown">
           <ul>
            <li><a href="#">Go to Discover</a></li>
            <li><a href="#">Learn more</a></li>
            <li><a href="#">Uninstall</a></li>
           </ul>
          </button>
         </div>
        </div>
       </li>
 
 
      </ul>
     </div>





















  </div>
   
   
   <div class="content-wrapper" id="Governamentais" >
      <div class="content-wrapper-header2">
         <div>
          <h3 class="img-content">
            Razão Social: &nbsp <div id="razao"> nome</div>
          </h3>
          <br>
          <h3 class="img-content">
            CNPJ: &nbsp <div id="cnpj"> </div>
          </h3>
          
          <div class="content-text">
            <b>Localização:</b> &nbsp <span id="cidade"> </span>&nbsp - &nbsp <span id="estado"></span><br>
            <b>Atividade Econômica:</b> &nbsp <span id="atividade"> </span><br>
            <b>Porte:</b> &nbsp <span id="porte"> </span><br>
            <b>Capital Social:</b> &nbsp <span id="capital"> </span>
          </div>
         </div> 
         
         
      </div>
      <div class="content-section" id="quadrosocios">
         

       </div>
   </div>    
   <div class="content-wrapper" id="Tráfego" style="display: none;">
      <div class="content-wrapper-header2">
         <div>
          <h3 class="img-content">
            <span id="tituloSite"></span>
          </h3>
          <br>
                  
          <div class="content-text">
            <b>Visitas Mensais:</b> &nbsp <span id="visitas"> </span><br> 
            <b>Taxa Rejeição:</b>&nbsp <span id="taxa"></span><br>
            <b>Páginas por visita:</b> &nbsp <span id="paginas"> </span><br>
            <b>Tempo Médio:</b> &nbsp <span id="tempo"> </span>
          </div>
         </div> 
      </div>
      <div class="content-section"> 
      <div class="content-section-title">Indicadores de tráfego</div>
      <!--div class="apps-card">
        teste
        teste
        joao 
        Maria 
            <div class="app-chart">
               
            
            </div>
            <div class="app-chart">
            <span>
                           
            Distribuição dos canais de Marketing
            </span>
            <div id="chart" style="float: left; width: 400px;"></div>  

           
            </div>
         </div>
      </div--> 
      <table >
        <tr><td width="50%" align="center">
          <div id="chart" style="float: left; width: 100%;"></div>  
        </td><td align="center">
          <div id="chartMonths" style="float: left; width: 100%;"></div>
          </td></tr>
    </table> 
    <div class="content-section" id="quadroconcorrentes">
         

    </div>

    
   </div>


  </div>
  <div class="content-wrapper" id="Calculadora" style="display: none;" >

   

    <table  class="menu-link-main" height="50%">
     <tr>
         <td align="center" colspan="8">
            <h3 class="menu-link-main">PLATAFORMAS DIGITAIS INTEGRADAS QUE ALAVACAM NEGÓCIOS</h3>
         </td>
      </tr>
     <tr>
         <td></td>
         <td align="center">SALES</td>
         <td align="center">MARKETING</td>
         <td align="center">DIGITAL COMMERCE</td>
         <td align="center">INTELIGÊNCIA DE DADOS</td>
         <td align="center">APPs</td>
         <td align="center"colspan="2">COMBO</td>
     </tr>

     <tr>
         <td></td>
         <td align="center">CRM + EXACT</td>
         <td align="center">TALLOS + MKT</td>
         <td align="center">AGILE, LEXOS, SHOPIFY, VTEX</td>
         <td align="center">TAIL</td>
         <td align="center">WEVO, CONECTOR</td>
         <td align="center">SAAS PRICING</td>
         <td align="center">DELIVERY PRICING</td>
     </tr>
     <tr>
         
         <td align="center">
             <div class="calc-bar">
             <select id="modalidade">
                 <option value=""></option>
                 <option value="basic">Basic</option>
                 <option value="valor1">Advanced</option>
                 <option value="valor1">Enterprise</option>
             </select>
             </div>    

         </td>
         <td align="center">
             <div class="calc-bar">
             <select id="crm">
                 <option value=""></option>
                 <option value="CRM">CRM</option>
                 <option value="EXACT">EXACT</option>
                 <option value="CRM+EXACT">CRM+EXACT</option>
             </select>    
             </div>
         </td>
         <td align="center">
             <div class="calc-bar">
             <select id="marketing">
                 <option value=""></option>
                 <option value="RDMKT">RD MKT</option>
                 <option value="TALLOS">TALLOS</option>
                 <option value="RDMKT+TALLOS">RD MKT+TALLOS</option>
             </select>   
             </div> 
         </td>
         <td align="center">
             <div class="calc-bar">
             <select id="digitalcomerce">
                 <option value=""></option>
                 <option value="AGILE">AGILE</option>
                 <option value="LEXOS">LEXOS</option>
                 <option value="VTEX">VTEX</option>
                 <option value="SHOPIFY">SHOPIFY</option>
                 <option value="SHOPIFY+LEXOS">SHOPIFY+LEXOS</option>
                 <option value="VTEX+LEXOS">VTEX+LEXOS</option>
             </select>    
             </div>
         </td>
         <td align="center">
             <div class="calc-bar">
             <select id="inteligencia">
                 <option value=""></option>
                 <option value="CDP">CDP</option>
                 <option value="CMP">CMP</option>
                 <option value="DMP">DMP</option>
                <option value="DMP+CMP">DMP+CMP</option>
             </select>
             </div>    
         </td>
         <td align="center">
             <div class="calc-bar">
             <select id="apps">
                 <option value=""></option>
                 <option value="WEVO">WEVO</option>
                 <option value="TOTVSIPaas">TOTVS IPaas</option>
                <option value="TOTVSIPaas+WEVO">TOTVS IPaas+WEVO</option>
             </select> 
             </div>  
         </td>
     
         <td align="center">
             <div class="calc-bar">
                 <input id="saas" type="text" >
            </div>
         </td>
         <td align="center">
             <div class="calc-bar">
                 <input id="delivery" type="text">
             </div>    
         
         </td>
     </tr>

 </table>
 
</div>




   <div class="content-wrapper" id="TOTVS" style="display: none;" >
    <div class="content-wrapper-header">
     <div class="content-wrapper-context">
      <h3 class="img-content">
            <div id="codigot"> CódigoT: </div>
      </h3>
      <div class="content-text">
        <b>Data da primeira assinatura :</b> &nbsp <span id="assinatura"> </span><br>
        <b>Predição de Churn:</b> &nbsp <span id="churn"> </span><br>
        <b>Nota NPS:</b> &nbsp <span id="nps"> </span><br>
        <b>MRR:</b> &nbsp <span id="mrr"> </span><br>
        <b>Segmento:</b> &nbsp <span id="segmento"> </span><br>
      </div>
     
      
     </div>
     <img class="content-wrapper-img" src="https://assets.codepen.io/3364143/glass.png" alt="">
    </div>
    <div  id="ofertasSugeridasEmpodera">
      
    </div>
    <div class="content-section" id="contatosCliente">
      
    </div>

  </div>



   <div class="content-wrapper" id="tecnologias" style="display: none;">
    
      Nenhuma tecnologia detectada

  </div>

  <div class="content-wrapper" id="tecnologiasEcommerce" style="display: none;">
    
    Nenhuma plataforma Ecommerce detectada

</div>

<div class="content-wrapper" id="tecnologiasMarketing" style="display: none;">
    
  Nenhuma plataforma de Marketing Digital  detectada

</div>
   
  
 </div>
 <div class="overlay-app"></div>
</div>
<!-- partial -->
<script src="./apexcharts.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./scriptapp.js"></script>
  

</body>
</html>
