<html>
<head>
    <title>Business Processs Prospector</title>
    <link rel="stylesheet" href="views/stylelogin.css" />
</head>
<body>
    <img scr="views/totvs-logob.png" >
    <div class="login">
        
        <h1>Informe o endereço a ser prospectado</h1>
        <form method="post" action="/login/">
            <input type="text" name="usuario" id="usuario" placeholder="Endereço do Site a ser prospectado" required="required" />
            <input type="submit" class="btn btn-1 btn-bloco btn-grande" value="Prospectar">
        </form>
    </div>
</body>
</html>